body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: rgb(255, 166, 0);
}
h2{
    font-size: 40px;
}
.h3font{
    font-family: sans-serif;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-color: rgb(255, 166, 0);
    color: black;
    font-size: 150%;
    font-family: 'Vina Sans', cursive;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    border-radius: 10%;
    background-image: linear-gradient(orange,  tomato);
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.chapa-etare{
    padding-left: 50px;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.padding-right{
    padding-right: 150px;
}
.flexible-container{
        display: flex;
            margin-bottom: 200px;
}
.experience-item{
    width: 40%;
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 10px color blue;
        box-shadow: 5px 5px 10px black;
}
.Experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: 50px 50px;
}
.text-align{
    text-align: center;
}
